@charset "UTF-8";
/* FONTS SETTING */
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

/* ICOMOON */
/* MY VARS */
/* icomoon */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?kqf7wj");
  src: url("../fonts/icomoon.eot?kqf7wj#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?kqf7wj") format("truetype"), url("../fonts/icomoon.woff?kqf7wj") format("woff"), url("../fonts/icomoon.svg?kqf7wj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-check:before {
  content: ""; }

.icon-chevron-down:before {
  content: ""; }

.icon-chevron-left:before {
  content: ""; }

.icon-chevron-right:before {
  content: ""; }

.icon-chevron-up:before {
  content: ""; }

.icon-codepen:before {
  content: ""; }

.icon-eye:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-github:before {
  content: ""; }

.icon-heart:before {
  content: ""; }

.icon-help-circle:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-link:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-map-pin:before {
  content: ""; }

.icon-message-circle:before {
  content: ""; }

.icon-message-square:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-more-horizontal:before {
  content: ""; }

.icon-more-vertical:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-send:before {
  content: ""; }

.icon-share-2:before {
  content: ""; }

.icon-slash:before {
  content: ""; }

.icon-sliders:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-thumbs-down:before {
  content: ""; }

.icon-thumbs-up:before {
  content: ""; }

.icon-toggle-left:before {
  content: ""; }

.icon-toggle-right:before {
  content: ""; }

.icon-trash-2:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-x:before {
  content: ""; }

.icon-x-circle:before {
  content: ""; }

.icon-zoom-in:before {
  content: ""; }

.icon-zoom-out:before {
  content: ""; }

/* default */
* {
  outline: none !important; }

html {
  overflow-x: hidden; }

body {
  font-family: Montserrat, "Open Sans";
  font-size: 16px;
  color: #6e6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, "Open Sans";
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  width: 100%; }

.h1, h1 {
  font-size: 32px; }

.h2, h2 {
  font-size: 28px; }

.h3, h3 {
  font-size: 24px; }

.h4, h4 {
  font-size: 20px; }

.h5, h5 {
  font-size: 18px; }

.h6, h6 {
  font-size: 16px; }

a {
  color: #024fff;
  font-size: 16px; }
  a:hover {
    color: #0037b5; }

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 990px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }
  @media (min-width: 1900px) {
    .container {
      max-width: 1900px; } }

.content {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-color: #6e6e6e; }
  .picture:empty {
    background-image: url("../img/no_photo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }

input[type=number] {
  text-align: center;
  -moz-appearance: textfield; }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    display: none; }

input[type="date"]::-webkit-inner-spin-button {
  display: none; }

.was-validated .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.was-validated .form-control:valid:focus, .was-validated .form-control:valid {
  border: 1px solid #6e6e6e;
  -webkit-box-shadow: none;
  box-shadow: none; }

.was-validated .form-control:invalid:focus, .was-validated .form-control:invalid {
  border: 1px solid #024fff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.was-validated .valid-feedback {
  color: #6e6e6e; }

.was-validated .invalid-feedback {
  color: #024fff; }

.form-control {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #6e6e6e;
  font-weight: 300;
  height: 40px;
  font-size: 16px;
  padding: .375rem 1.5rem; }
  .form-control:not([value=""]):not(:focus):invalid {
    border: 1px solid #024fff; }
  .form-control:focus {
    border: 1px solid #6e6e6e;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .form-control::-webkit-input-placeholder {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 300; }
  .form-control:-ms-input-placeholder {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 300; }
  .form-control::-ms-input-placeholder {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 300; }
  .form-control::placeholder {
    color: #eeeeee;
    font-size: 16px;
    font-weight: 300; }

select::-ms-expand {
  display: none; }

/* onepage-scroll */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0; }
  body.disabled-onepage-scroll, html.disabled-onepage-scroll {
    position: inherit; }

html {
  position: inherit; }

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute !important;
  top: 0;
  left: 0;
  padding: 0;
  -webkit-transform-style: preserve-3d; }
  .onepage-wrapper .section {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0; }

.onepage-pagination {
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .onepage-pagination li {
    height: 25px;
    width: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .onepage-pagination li a {
      width: 6px;
      height: 6px;
      background: #6e6e6e;
      border-radius: 10px;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      -webkit-transition-delay: .4s;
      transition-delay: .4s; }
      .onepage-pagination li a.active {
        width: 10px;
        height: 10px;
        background: #024fff;
        -webkit-box-shadow: 0 0 3px #6e6e6e;
        box-shadow: 0 0 3px #6e6e6e; }

.disabled-onepage-scroll {
  overflow: auto; }
  .disabled-onepage-scroll .wrapper {
    overflow: auto; }
  .disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    transform: none !important;
    min-height: 100%;
    position: inherit; }
    .disabled-onepage-scroll .onepage-wrapper .section {
      position: relative !important;
      top: auto !important;
      left: auto !important; }
  .disabled-onepage-scroll .onepage-pagination {
    display: none; }

/* components */
/* tooltips */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 10px;
  font-family: Montserrat, "Open Sans";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 12px;
  word-wrap: break-word;
  opacity: 0; }
  .tooltip.show {
    opacity: 0.9; }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #024fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 5px #6e6e6e;
    box-shadow: 0 0 5px #6e6e6e;
    z-index: -1; }
    .tooltip .arrow::before {
      display: none; }

.bs-tooltip-top,
.bs-tooltip-auto[x-placement^="top"] {
  padding: 10px 0; }
  .bs-tooltip-top .arrow,
  .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 6px; }

.bs-tooltip-right,
.bs-tooltip-auto[x-placement^="right"] {
  padding: 0 10px; }
  .bs-tooltip-right .arrow,
  .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 6px;
    width: 10px;
    height: 10px; }

.bs-tooltip-bottom,
.bs-tooltip-auto[x-placement^="bottom"] {
  padding: 10px 0; }
  .bs-tooltip-bottom .arrow,
  .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 6px; }

.bs-tooltip-left,
.bs-tooltip-auto[x-placement^="left"] {
  padding: 0 10px; }
  .bs-tooltip-left .arrow,
  .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 6px;
    width: 10px;
    height: 10px; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #024fff;
  border-radius: 5px; }
  .tooltip-inner::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    content: "";
    -webkit-box-shadow: 0 0 5px #6e6e6e;
    box-shadow: 0 0 5px #6e6e6e;
    z-index: -2; }

/* navbar */
.navigation--menu {
  z-index: 1;
  position: absolute;
  top: 2%;
  left: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .navigation--menu .btn.btn-link {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: transparent; }
    .navigation--menu .btn.btn-link span {
      width: 5px;
      height: 5px;
      border-radius: 3px;
      background-color: #6e6e6e;
      margin: 2px;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
      .navigation--menu .btn.btn-link span:not(:nth-child(3n+2)) {
        -webkit-transition-delay: .4s;
        transition-delay: .4s; }
      .navigation--menu .btn.btn-link span:nth-child(3n+2) {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
    .navigation--menu .btn.btn-link.active span:nth-child(3n+1), .navigation--menu .btn.btn-link:hover span:nth-child(3n+1) {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
      z-index: -1;
      opacity: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .navigation--menu .btn.btn-link.active span:nth-child(3n), .navigation--menu .btn.btn-link:hover span:nth-child(3n) {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
      z-index: -1;
      opacity: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .navigation--menu .btn.btn-link.active span:nth-child(3n+2), .navigation--menu .btn.btn-link:hover span:nth-child(3n+2) {
      background-color: #024fff;
      margin: 0;
      height: 14px;
      width: 2px;
      -webkit-transform: translateY(7px) rotate(45deg);
      transform: translateY(7px) rotate(45deg);
      -webkit-transition-delay: .4s;
      transition-delay: .4s; }
    .navigation--menu .btn.btn-link.active span:nth-child(5), .navigation--menu .btn.btn-link:hover span:nth-child(5) {
      -webkit-transform: translateY(-7px) rotate(-45deg);
      transform: translateY(-7px) rotate(-45deg); }

.navigation--user {
  z-index: 1;
  position: absolute;
  top: 2%;
  right: 50px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%); }
  .navigation--user .img-fluid {
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .navigation--user .btn.btn-link {
    border-radius: 100%;
    max-width: 70px;
    padding: 10px;
    border: none; }
    .navigation--user .btn.btn-link:hover .img-fluid {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 0 -1px 30px 0 rgba(110, 110, 110, 0.26);
      box-shadow: 0 -1px 30px 0 rgba(110, 110, 110, 0.26);
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.navigation--share {
  z-index: 1;
  position: absolute;
  bottom: 25px;
  right: 30px;
  max-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .navigation--share .btn.btn-link {
    border: none;
    width: 30px;
    height: 30px;
    text-decoration: none !important;
    color: #262626;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-left: 10px;
    background-color: #6e6e6e; }
    .navigation--share .btn.btn-link:first-child {
      cursor: default;
      border-radius: 15px;
      background-color: #6e6e6e;
      margin-left: 0px;
      max-width: 30px; }
      .navigation--share .btn.btn-link:first-child span {
        max-width: 0;
        overflow: hidden; }
    .navigation--share .btn.btn-link:hover {
      color: #fff;
      background-color: #024fff; }
  .navigation--share:hover {
    max-width: 500px; }
    .navigation--share:hover .btn.btn-link:first-child {
      width: 100px;
      background-color: #024fff;
      color: #fff;
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      max-width: 500px; }
      .navigation--share:hover .btn.btn-link:first-child span {
        max-width: 500px;
        overflow: visible;
        margin-left: 5px; }

.navigation--examples {
  z-index: 1;
  position: absolute;
  bottom: 25px;
  left: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .navigation--examples .btn.btn-link {
    border: none;
    width: 50px;
    height: 30px;
    text-decoration: none !important;
    color: #6e6e6e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    overflow: hidden;
    margin-top: 10px; }
    .navigation--examples .btn.btn-link span {
      position: absolute;
      -webkit-transition: opacity .3s ease-in-out, max-width .3s ease-in-out .2s, font-size .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
      transition: opacity .3s ease-in-out, max-width .3s ease-in-out .2s, font-size .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out, opacity .3s ease-in-out, max-width .3s ease-in-out .2s, font-size .3s ease-in-out .2s;
      transition: transform .3s ease-in-out, opacity .3s ease-in-out, max-width .3s ease-in-out .2s, font-size .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      width: 60px;
      max-width: 0;
      opacity: 0;
      font-size: 0px;
      font-weight: bold;
      z-index: -1;
      text-align: left; }
    .navigation--examples .btn.btn-link:hover {
      color: #024fff; }
      .navigation--examples .btn.btn-link:hover span {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 1;
        z-index: 1;
        max-width: 100px;
        font-size: 16px;
        -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.user--about {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 38, 38, 0.7);
  z-index: -1; }
  .user--about.show--modal {
    z-index: 7; }

.user--close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: url("../img/icon-close.png"), not-allowed; }

.user--content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  max-width: 400px;
  left: 55%;
  background-color: #024fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 30px;
  -webkit-box-shadow: -3px 12px 20px 0 rgba(2, 79, 255, 0.26);
  box-shadow: -3px 12px 20px 0 rgba(2, 79, 255, 0.26); }

/* pages */
/* index page */
.main--bg {
  background: #262626;
  width: 100%;
  height: 100%; }

.main--sections section.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main--wrapper {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  max-width: 320px; }
  @media (min-width: 540px) {
    .main--wrapper {
      max-width: 320px; } }
  @media (min-width: 768px) {
    .main--wrapper {
      max-width: 666px; } }
  @media (min-width: 990px) {
    .main--wrapper {
      max-width: 666px; } }
  @media (min-width: 1200px) {
    .main--wrapper {
      max-width: 900px; } }
  @media (min-width: 1900px) {
    .main--wrapper {
      max-width: 1600px; } }

.main--works .img-fluid {
  max-height: 80vh; }

.main--btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #6e6e6e;
  background-color: transparent;
  color: #024fff;
  height: 50px;
  padding: 0 30px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Montserrat, "Open Sans";
  font-size: 18px; }
  .main--btn:hover {
    text-decoration: none;
    background-color: #024fff;
    color: #fff; }
  .main--btn:focus, .main--btn:active {
    text-decoration: none;
    background-color: #0037b5;
    border-color: #0037b5; }

.works--slider {
  width: 100%; }
  .works--slider .slick-slide {
    height: auto; }

.works--item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

/* во всех scss пути к картинкам/шрифтам относительно этого файла */
