block global_vars
  include ./_global_vars.pug

block local_vars
  - var title = "default title"

html
  head
    //- head
    include ./head.pug
  body
    block navbar
      //- header
      include ./navbar.pug
      //- include ./header-menu.pug
    block bread_crumbs
      //- bread-crumbs
      //- include ./bread-crumbs.pug
      //- content page
    block content_first
      h1 Default content
    block content_second
      h1 Default content
    block footer
      //- footer
      include ./footer.pug