footer.footer.style-ontop
  //- nav.navigation--examples
    a(href="https://www.instagram.com/elijahsmolinkrd/" target="_blank").btn.btn-link
      i.icon-instagram
      span Instagram
    a(href="https://github.com/elsmolin/" target="_blank").btn.btn-link
      i.icon-github
      span GitHub
    a(href="https://codepen.io/elsmolin/" target="_blank").btn.btn-link
      i.icon-codepen
      span Codepen
  nav.container.footer__navigation
    a(href="https://www.instagram.com/elijahsmolinkrd/" target="_blank").btn.btn-link.footer__navigation--link
      i.icon-instagram
      //- span Instagram
    a(href="https://github.com/elsmolin/" target="_blank").btn.btn-link.footer__navigation--link
      i.icon-github
      //- span GitHub
    a(href="https://codepen.io/elsmolin/" target="_blank").btn.btn-link.footer__navigation--link
      i.icon-codepen
      //- span Codepen