header.header
  nav.container.position-relative.header__navigation
    a(href="./#top").header__logo.header__navigation--link.style-main
      span elijah
      span smolin
      span krd
    ul.header__navigation--list.list-unstyled
      li.header__navigation--item
        a(href="./examples.html").header__navigation--link examples
      li.header__navigation--item
        a(href="./#mytools" data-id="#mytools").header__navigation--link mytools
      li.header__navigation--item
        a(href="./#contacts" data-id="#contacts").header__navigation--link contacts