#user-about.user--about
  .user--close
  .user--content
    .h1 Мои контакты, форма связи (Google Forms, Twitter, Instagram, Github, интерактивная карта с моим текущим месторасположением)
.main--menu
nav.navigation--menu
  button(type='button').btn.btn-link
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6