#user-about.user--about
  .user--close
  .user--content
    .h1 Мои контакты, форма связи (Google Forms, Twitter, Instagram, Github, интерактивная карта с моим текущим месторасположением)
nav.navigation--menu
  button(type='button').btn.btn-link
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
nav.navigation--user
  button(type="button").btn.btn-link
    img(src="./img/icon-user.jpg", alt="", srcset="").img-fluid
nav.navigation--share
  span.btn.btn-link
    i.icon-share-2
    span shareit
  button(type="button").btn.btn-link
    i.icon-facebook
  button(type="button").btn.btn-link
    i.icon-instagram
  button(type="button").btn.btn-link
    i.icon-linkedin
  button(type="button").btn.btn-link
    i.icon-twitter
  button(type="button").btn.btn-link
    i.icon-send
  button(type="button").btn.btn-link
    i.icon-mail
nav.navigation--examples
  a(href="https://github.com/elsmolin/" target="_blank").btn.btn-link
    i.icon-github
    span GitHub
  a(href="https://codepen.io/elsmolin/" target="_blank").btn.btn-link
    i.icon-codepen
    span Codepen