//- #user-about.user--about
  .user--close
  .user--content
    .h3 Илья Смолин
    .h6 Front-end разработчик, верстальщик
    a(href="tel:+79180799275").h6 +7 (918) 079-92-75
    a(href="mailto:is.smolin@ya.ru").h6 is.smolin@ya.ru
    a(href="skype:smolin_is").h6 skype
    a(href="https://t.me/smolin_is").h6 Telegram
    #map.map
.main--menu
  each item in [1,2,3,4,5]
    .main--menu-item
      .main--menu-item-content
      .main--menu-item-wrapper
nav.navigation--menu
  button(type='button').btn.btn-link
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
include ./header.pug