nav.navigation--user
  button(type="button").btn.btn-link
    img(src="./img/icon-user.jpg", alt="", srcset="").img-fluid
nav.navigation--share
  span.btn.btn-link
    i.icon-share-2
    span shareit
  a(href="#").btn.btn-link
    i.icon-facebook
  a(href="#").btn.btn-link
    i.icon-instagram
  a(href="#").btn.btn-link
    i.icon-linkedin
  a(href="#").btn.btn-link
    i.icon-twitter
  a(href="#").btn.btn-link
    i.icon-send
  a(href="#").btn.btn-link
    i.icon-mail
nav.navigation--examples
  a(href="https://www.instagram.com/___lapland___/" target="_blank").btn.btn-link
    i.icon-instagram
    span Instagram
  a(href="https://github.com/elsmolin/" target="_blank").btn.btn-link
    i.icon-github
    span GitHub
  a(href="https://codepen.io/elsmolin/" target="_blank").btn.btn-link
    i.icon-codepen
    span Codepen
.main--bg.style-white