extends ./components/_layout.pug

block local_vars
  - var title = "Примеры"

block bread_crumbs
  
block content_first
  nav.navigation--user
    button(type="button").btn.btn-link
      img(src="./img/icon-user.jpg", alt="", srcset="").img-fluid
  nav.navigation--share
    span.btn.btn-link
      i.icon-share-2
      span shareit
    a(href="#").btn.btn-link
      i.icon-facebook
    a(href="#").btn.btn-link
      i.icon-instagram
    a(href="#").btn.btn-link
      i.icon-linkedin
    a(href="#").btn.btn-link
      i.icon-twitter
    a(href="#").btn.btn-link
      i.icon-send
    a(href="#").btn.btn-link
      i.icon-mail
  nav.navigation--examples
    a(href="https://github.com/elsmolin/" target="_blank").btn.btn-link
      i.icon-github
      span GitHub
    a(href="https://codepen.io/elsmolin/" target="_blank").btn.btn-link
      i.icon-codepen
      span Codepen
  .main--bg.style-white
  
block content_second
  .spacer--top
  .container
    .row
      .col-12
        select#select--examples.select--examples(name="examples")
          option(value="style-1" selected) Первый вариант
          option(value="style-2") Второй вариант
        .examples--title Lorem ipsum dolor sit.
          a(href="#")
            i.icon-codepen 
        .examples--body
          ul#examples--navigation.examples--navigation.style-1
            li
              a(href="#") Main
            li
              a(href="#") About
            li
              a(href="#") Location
            li
              a(href="#") Awesome
            li
              a(href="#") More
              ul
                li
                  a(href="#") link 1
                li
                  a(href="#") link 2
                li
                  a(href="#") link 3
                li
                  a(href="#") link 4
                li
                  a(href="#") link 5
