extends ./components/_layout.pug

block local_vars
  - var title = "Примеры"

//- block bread_crumbs
  
block content_first
  include ./components/sidebar.pug
  
block content_second
  .spacer--top
  .container
    .row
      .col-12
        select.customselect
          optgroup(label="Navigation")
            option(value="StyleNavigation1" data-opt="Navigation") Style Navigation #1
            option(value="StyleNavigation2" data-opt="Navigation") Style Navigation #2
          optgroup(label="Button")
            option(value="" disabled) Work in progress...
            //- option(value="StyleButton1") Style Button #1
            //- option(value="StyleButton2") Style Button #2
          optgroup(label="MobileMenu")
            option(value="" disabled) Work in progress...
            //- option(value="StyleMobileMenu1") Style Mobile Menu #1
          optgroup(label="Preloader")
            option(value="" disabled) Work in progress...
            //- option(value="StylePreloader1") Style Preloader #1
          optgroup(label="Carousel")
            option(value="" disabled) Work in progress...
            //- option(value="StyleCarousel1") Style Carousel #1
          optgroup(label="CheckboxRadio")
            option(value="" disabled) Work in progress...
            //- option(value="StyleCheckboxRadio1") Style CheckboxRadio #1
          optgroup(label="Animation")
            option(value="" disabled) Work in progress...
            //- option(value="StyleAnimation1") Style Animation #1
          optgroup(label="Slider")
            option(value="" disabled) Work in progress...
            //- option(value="StyleSlider1") Style Slider #1
          optgroup(label="Calendar")
            option(value="" disabled) Work in progress...
            //- option(value="StyleCalendar1") Style Calendar #1
          optgroup(label="Card")
            option(value="" disabled) Work in progress...
            //- option(value="StyleCard1") Style Card #1
          optgroup(label="Modal")
            option(value="" disabled) Work in progress...
            //- option(value="StyleModal1" disabled) Style Modal #1
          optgroup(label="WebGL")
            option(value="" disabled) Work in progress...
          optgroup(label="Form")
            option(value="" disabled) Work in progress...
            //- option(value="StyleForm1") Style Form #1
        .examples--title Lorem ipsum dolor sit.
          a(href="#")
            i.icon-codepen 
        .examples--body
          ul#examples--navigation.examples--navigation.stylenavigation1
            li
              a(href="#") Main
            li
              a(href="#") About
            li
              a(href="#") Location
            li
              a(href="#") Awesome
            li
              a(href="#") More
              ul
                li
                  a(href="#") link 1
                li
                  a(href="#") link 2
                li
                  a(href="#") link 3
                li
                  a(href="#") link 4
                li
                  a(href="#") link 5
