extends ./components/_layout.pug

block local_vars
  - var pageType = "landing"
  - var pageClass = `${pageType}__page`
  - var title = "О компании"
  - 
    var bread_crumbs = [
      {
        href: './main.html',
        text: 'Главная'
      },
      {
        href: './landing.html',
        text: title
      }
    ]
  
block content
  .container-fluid
    .row
      .col-12