extends ./components/_layout.pug

block local_vars
  - var pageType = "landing"
  - var pageClass = `${pageType}__page`
  - var title = "О компании"
  - 
    var bread_crumbs = [
      {
        href: './main.html',
        text: 'Главная'
      },
      {
        href: './landing.html',
        text: title
      }
    ]
  
block content
  a(href="/").main_logo#main_logo
    span.main_logo-text Elijah
    #logo_svg.main_logo-img
    span.main_logo-text Smolin
  .main_subnav#main_subnav
    a(href="https://codepen.io/elsmolin").main_subnav-item
      .icon_custom-codepen
      span CodePen
    a(href="https://github.com/elsmolin").main_subnav-item
      .icon_custom-github_light
      span GitHub