@import './__my__vars.scss';

/* Шрифты */
$url_4: url('#{$font-path}RuslanDisplay.ttf');

@font-face {
	font-family: $font-title;
	src: $url_4 format('truetype');
	font-weight: 400;
	font-style: normal;
}