@import './__my__vars.scss';

/* Стили для попапов */
.popup {
  &-custom {
    &-clone {
      position: absolute;
      z-index: 1;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      transition: filter .6s ease-in-out;
      &.opened {
        position: fixed;
        opacity: 1;
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
        pointer-events: all;
      }
      &.loading {
        filter: grayscale(100%);
      }
      &.loaded {
        filter: grayscale(0);
        .carousel_item-img {
          transform: scale(1.2);
        }
      }
    }
  }
}

.fancybox-slide--html {
  // padding: 0;
  // @media screen and (min-width: $tablet) {
  //   padding: 6px;
  // }
}
.fancybox-bg {
  // background: #fff;
}
.fancybox-is-open .fancybox-bg {
  // opacity: 0.3;
}

// Чтобы не дергался контент при открытии/закрытии попапа
// на десктопе для фиксед элементов
.body_global.compensate-for-scrollbar {
  
  // .header__wrapper-global {
  //   @media screen and (min-width: $desktop) {
  //     margin-right: inherit;
  //   }
  // }

  // Чтобы не было дыры на десктопе на месте скрола 
  .fancybox-container.fancybox-is-open .fancybox-slide {
    overflow-y: scroll;
  }
}