/* FONTS SETTING */
$url_1: url('../fonts/Montserrat-Light.ttf');
$url_2: url('../fonts/Montserrat-Regular.ttf');
$url_3: url('../fonts/Montserrat-Bold.ttf');

@font-face {
	font-family: Montserrat;
	src: $url_1;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: $url_2;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: $url_3;
	font-weight: 700;
	font-style: normal;
}

/* ICOMOON */
$icon-check: "\e900";
$icon-chevron-down: "\e901";
$icon-chevron-left: "\e902";
$icon-chevron-right: "\e903";
$icon-chevron-up: "\e904";
$icon-codepen: "\e905";
$icon-eye: "\e906";
$icon-facebook: "\e907";
$icon-github: "\e908";
$icon-heart: "\e909";
$icon-help-circle: "\e90a";
$icon-info: "\e90b";
$icon-instagram: "\e90c";
$icon-link: "\e90d";
$icon-linkedin: "\e90e";
$icon-mail: "\e90f";
$icon-map-pin: "\e910";
$icon-message-circle: "\e911";
$icon-message-square: "\e912";
$icon-minus: "\e913";
$icon-more-horizontal: "\e914";
$icon-more-vertical: "\e915";
$icon-phone: "\e916";
$icon-plus: "\e918";
$icon-search: "\e919";
$icon-send: "\e91a";
$icon-share-2: "\e91b";
$icon-slash: "\e91c";
$icon-sliders: "\e91d";
$icon-star: "\e91e";
$icon-thumbs-down: "\e91f";
$icon-thumbs-up: "\e920";
$icon-toggle-left: "\e921";
$icon-toggle-right: "\e922";
$icon-trash-2: "\e923";
$icon-twitter: "\e924";
$icon-x: "\e925";
$icon-x-circle: "\e926";
$icon-zoom-in: "\e927";
$icon-zoom-out: "\e928";

/* MY VARS */
$max-width-container-mobile: 320px;
$max-width-container-sm: 540px;
$max-width-container-tablet: 768px;
$max-width-container-lg: 990px;
$max-width-container-desktop: 1200px;
$max-width-container-retina: 1900px;

$color-primary: #262626;
$color-secondary: #024fff;
$color-light: #6e6e6e;
$color-white: #fff;

// ---styles---

// shadows
$shadow-position: -3px 12px;
$shadow-position-secondary: 0 -1px;
$shadow-width: 20px;
$shadow-width-secondary: 30px;
$shadow-blur: 0;
$shadow-color: $color-light;
$shadow-color-secondary: $color-secondary;
$shadow: $shadow-position $shadow-width $shadow-blur rgba($color: $shadow-color, $alpha: .26);
$shadow-secondary: $shadow-position-secondary $shadow-width-secondary $shadow-blur rgba($color: $shadow-color-secondary, $alpha: .26);

// font
$font-path: "../fonts" !default;
$font: Montserrat, "Open Sans";
$font-color: $color-light;
$font-color-secondary: $color-white;
$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;
$font-size: 16px;
$font-size-smaller: 16px;
$font-size-small: 12px;
$font-line-height-lg: 1.75;
$font-line-height: 1.5;
$font-line-height-md: 1.25;
$font-line-height-sm: 1;

// color-link
$link-color: $color-secondary;
$link-color-secondary: $color-primary;
$link-color-hover: darken($color: $color-secondary, $amount: 15%);

// border
$border-width-1: 1px;
$border-width-3: 3px;
$border-width-5: 5px;
$border-style: solid;
$border-color: $color-light;
$border-color-secondary: $color-secondary;
$border: $border-width-1 $border-style $border-color;
$border-secondary: $border-width-1 $border-style $border-color-secondary;

// background
$bg-color: $color-primary;
$bg-color-secondary: $color-secondary;
$bg-color-light: $color-light;