/* tooltips */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 10px;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  line-height: $font-line-height;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: $font-size-small;
  word-wrap: break-word;
  opacity: 0;

  &.show {
    opacity: 0.9;
  }

  .arrow {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: $color-secondary;
    transform: rotate(45deg);
    box-shadow: 0 0 5px $color-light;
    z-index: -1;

    &::before {
      display: none;
    }
  }
}

.bs-tooltip-top,
.bs-tooltip-auto[x-placement^="top"] {
  padding: 10px 0;

  .arrow {
    bottom: 6px;
  }
}

.bs-tooltip-right,
.bs-tooltip-auto[x-placement^="right"] {
  padding: 0 10px;

  .arrow {
    left: 6px;
    width: 10px;
    height: 10px;
  }
}

.bs-tooltip-bottom,
.bs-tooltip-auto[x-placement^="bottom"] {
  padding: 10px 0;

  .arrow {
    top: 6px;
  }
}

.bs-tooltip-left,
.bs-tooltip-auto[x-placement^="left"] {
  padding: 0 10px;

  .arrow {
    right: 6px;
    width: 10px;
    height: 10px;
  }
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: $font-color-secondary;
  text-align: center;
  background-color: $bg-color-secondary;
  border-radius: 5px;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 5px;
    content: "";
    box-shadow: 0 0 5px $color-light;
    z-index: -2;
  }
}