/* examples page */
.examples {
  &--body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
  }
  &--navigation {
    display: flex;
    list-style: none;
    padding-left: 0;
    ul {
      list-style: none;
      padding-left: 0;
      position: absolute;
      z-index: -9;
      top: 100%;
      left: 0;
    }
    li {
      position: relative;
      white-space: nowrap;
      &:hover {
        ul {
          z-index: 1;
        }
      }
    }
    a {
      text-decoration: none;
    }
    &.stylenavigation1 {
      ul {
        > li {
          transform: translateX(-50px);
          transition: all .3s ease-in-out;
          transition-delay: 0s;
          opacity: 0;
          &:nth-child(2n) {
            transform: translateX(50px);
          }
        }
      }
      li {
        &:hover {
          > a {
            color: white;
            &::after,
            &::before {
              transform: scale(1);
              opacity: 1;
            }
          }
          > ul {
            > li {
              transform: translateX(0);
              opacity: 1;
              $count: 2;
              // transition-delay: .5s;
              @while $count < 20 {
                &:nth-child(#{$count}) {
                  transition-delay: #{$count * .07 + 0}s;
                }
                $count: $count + 1;
              }
            }
          }
        }
      }
      a {
        padding: 0 16px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        color: $color-primary;
        z-index: 1;
        transition: all .3s ease-in-out;
        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          transition: all .3s ease-in-out;
        }
        &::after {
          top: 5px;
          bottom: 5px;
          background-color: $color-primary;
          transform: scale(0);
        }
        &::before {
          border-top: 2px solid $color-primary;
          border-bottom: 2px solid $color-primary;
          transform: scaleY(1.5);
          opacity: 0;
        }
      }
    }
    &.stylenavigation2 {
      ul {
        > li {
          transform: translateX(-50px);
          transition: all .3s ease-in-out;
          transition-delay: 0s;
          opacity: 0;
          &:nth-child(2n) {
            transform: translateX(50px);
          }
          &:hover {
            > a {
              &::after {
                border-top: none;
                border-right: 2px solid $color-primary;
                transform-origin: bottom;
                transform: scaleY(1);
              }
              &::before {
                border-bottom: none;
                border-left: 2px solid $color-primary;
                transform-origin: top;
                transform: scaleY(1);
              }
            }
          }
          > a {
            &::after {
              border-top: none;
              border-right: 2px solid $color-primary;
              transform-origin: top;
              transform: scaleY(0);
            }
            &::before {
              border-bottom: none;
              border-left: 2px solid $color-primary;
              transform-origin: bottom;
              transform: scaleY(0);
            }
          }
        }
      }
      li {
        &:hover {
          > a {
            &::after,
            &::before {
              transform: scale(1);
            }
            &::after {
              transform-origin: left;
            }
            &::before {
              transform-origin: right;
            }
          }
          > ul {
            > li {
              transform: translateX(0);
              opacity: 1;
              $count: 2;
              @while $count < 20 {
                &:nth-child(#{$count}) {
                  transition-delay: #{$count * .07 + 0}s;
                }
                $count: $count + 1;
              }
            }
          }
        }
      }
      a {
        padding: 0 16px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        color: $color-primary;
        z-index: 1;
        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          transition: transform .3s;
        }
        &::after {
          transform: scaleX(0);
          border-top: 2px solid $color-primary;
          transform-origin: right;
        }
        &::before {
          border-bottom: 2px solid $color-primary;
          transform-origin: left;
          transform: scaleX(0);
        }
      }
    }
  }
}