/* onepage-scroll */
body, html {
  margin: 0;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: all .3s ease-in-out;
  transform: translateY(0px);

  &.show--menu {
    box-shadow: $shadow-position-secondary $shadow-width-secondary $shadow-blur $color-primary;
    transform: translateY(200px);
    background-color: $bg-color-light;
  }

  &.disabled-onepage-scroll {
    position: inherit;
  }
}

html {
  position: inherit;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute !important;
  top: 0;
  left: 0;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  margin-top: 0px;
  transition: all .3s ease-in-out;
  &.show--menu {
    margin-top: 200px;
  }
  
  .section {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
}

.onepage-pagination {
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: flex;
  flex-direction: row-reverse;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 0 5px;
    background: $color-light;
    overflow: hidden;
    height: 20px;

    a {
      display: inline-flex;
      align-items: center;
      height: inherit;
      transition-delay: .4s;
      margin: 0 -5px;
      padding: 0 5px;
      color: transparent;
      font-size: 0;
      overflow: hidden;
      // transform: scaleX(0.1);
      transition: transform .4s linear, font-size .4s linear, color .4s linear, background .4s linear;
      &:hover {
        text-decoration: none;
      }
      &.active {
        font-size: 16px;
        color: white;
        background: $color-secondary;
        box-shadow: 0 0 3px $color-light;
        // transform: scaleX(1);
      }
    }
  }
}

.disabled-onepage-scroll {
  overflow: auto;

  .wrapper {
    overflow: auto;
  }
  
  .onepage-wrapper {
    transform: none !important;
    min-height: 100%;
    position: inherit;

    .section {
      position: relative !important;
      top: auto !important;
      left: auto !important;
    }
  }

  .onepage-pagination {
    display: none;
  }
}