$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_custom-spinner: "\e931";
$icon_custom-search: "\e932";
$icon_custom-close: "\e933";
$icon_custom-right: "\e934";
$icon_custom-left: "\e935";
$icon_custom-up: "\e936";
$icon_custom-down: "\e937";
$icon_custom-left_arrow: "\e938";
$icon_custom-right_arrow: "\e939";
$icon_custom-codepen: "\e93a";
$icon_custom-github_dark: "\e93b";
$icon_custom-github_light: "\e93c";
$icon_custom-hire: "\e902";
$icon_custom-logo: "\e900";
$icon_custom-demo: "\e901";

